$title-fonts: "monospace";

#index {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

#overlay {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0px [top] auto [middle] 0px [bottom];
  margin: 0;
  height: 100%;
}

#current-song {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: [left] 64px 10px [gutter] auto [end];
  align-items: center;

  padding: 10px;
  min-width: 800px;
  max-width: 33%;

  color: white;
  font-family: Consolas, monospace;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;

  grid-row-end: top;

  .request {
    float: right;

    &-by {
      margin-right: 10px;
      font-size: .8em;
    }
  }

  .album {
    grid-column-start: left;
    width: 64px;
    height: 64px;
  }

  .info {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 16px;
    grid-column-start: gutter;

    .track {
      grid-row-start: 1;

      &-name {
        padding-left: 1px;
        font-size: 1.4em;
        line-height: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .artist {
      grid-row-start: 2;
    }

    .progress {
      grid-row-start: 3;

      &-bar {
        background-color: #888888;
        transition: none;
      }

      .timer {
        position: absolute;
        padding-left: 5px;
      }
    }
  }

  .state {
    display: none;
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 1000;

    color: #FF7F50;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: left 16px top 16px;

    &-paused {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
      background-image: url("/static/feather/pause.svg");
    }
  }
}

.title-refresh {
  margin-left: 0.4em;
}

.clickable {
  cursor: pointer;
}

.loading {
  font-size: 200%;
  font-family: monospace;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70px;
  text-align: center;

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  & > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.afterstream {
  &-added-at {
    white-space: nowrap;
    display: block;
    font-size: 0.8em;
  }

  &-datetime {
    margin-left: 0.4em;
  }
}

.right {
  float: right;
}

.content {
  margin-top: 1rem;
}

.settings {
  &-text {
    margin: 0;
    font-size: 70%;
    overflow: hidden;
  }

  &-boolean-icon {
    width: 3em;
  }

  &-group {
    font-size: 150%;
    font-weight: bold;

    &-filter {
      color: purple;
      cursor: pointer;
    }
  }

  &-key {
    width: 300px;
    overflow: hidden;

    &-name {
      font-weight: bold;
      white-space: nowrap;
    }

    &-doc {
      white-space: normal;
      font-size: 80%;

      p {
        margin: 0;
      }
    }
  }
}

.auth {
  &-boolean-icon {
    width: 3em;
  }

  &-scope {
    &-short {
      font-size: 120%;
      font-weight: bold;
    }

    &-key {
      width: 300px;
      overflow: hidden;

      &-name {
        font-weight: bold;
        white-space: nowrap;
      }

      &-doc {
        white-space: normal;
        font-size: 80%;

        p {
          margin: 0;
        }
      }
    }
  }

  &-role {
    &-name {
      text-align: center;
    }
  }
}

.command {
  &-name {
    font-family: monospace;
  }

  &-template {
    font-family: monospace;
  }
}

body.youtube-body {
  background-color: black;
  color: white;
}

.youtube {
  &-container {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-loading {
    text-align: center;
    font-size: 200%;
  }

  &-not-loaded {
    &-obs {
      color: white;
      background-color: #333;
    }
  }
}

.table-fill {
  width: 100%;
}

.button-fill {
  width: 100%;
}

.align-center {
  text-align: center;
}