database_url = "setmod.sql"

features = [
  "admin",
  "command",
  "counter",
  "song",
  "afterstream",
  "bad-words",
  "url-whitelist",
]

# API to push updates based on Twitch credentials.
api_url = "https://setbac.tv"

[current_song]
path = "E:\\temp\\current_song.txt"
not_playing = "No Song Playing"
template = [
  "Song: {{name}}{{#if artists}} by {{artists}}{{/if}}{{#if paused}} (Paused){{/if}} ({{duration}})",
  "{{#if user~}}Request by: @{{user~}}{{/if}}",
]

# How frequently information on the current song should be updated.
update_interval = "1s"