# This is the example secrets.yml file. Rename it and set the variables.

# Used to interact with the Spotify API.
# You need to register your app at:
# https://developer.spotify.com/dashboard/
#
# You'll also need to support the following redirect URL:
# http://localhost:12345/redirect
spotify::oauth2:
  client_id: "FIXME"
  client_secret: "FIXME"

# Used to interact with the Twitch API.
# You need to register your app at:
# https://dev.twitch.tv/console/apps/create
#
# You'll also need to support the following redirect URL:
# http://localhost:12345/redirect
twitch::oauth2:
  client_id: "FIXME"
  client_secret: "FIXME"