<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='*' Name='OxidizeBot' UpgradeCode='08DA9A41-F232-49DC-BA6A-A29893BAEC5C' Manufacturer='John-John Tedro' Language='1033' Codepage='1252' Version='$(var.Version)'>
    <Package Id='*' Keywords='Installer' Manufacturer='John-John Tedro' InstallerVersion='450' Languages='1033' Compressed='yes' InstallScope='perMachine' SummaryCodepage='1252' Platform='$(var.Platform)'/>

    <MajorUpgrade Schedule='afterInstallInitialize' DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
    <Property Id='DiskPrompt' Value='OxidizeBot Installation'/>
    <Property Id="START_VIA_REGISTRY">1</Property>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="OxidizeBot">
          <Component Id='ApplicationShortcut' Guid='{9458D268-A228-415C-BA3C-03059EBE889D}' Win64='$(var.Win64)'>
            <Shortcut Id='ApplicationStartMenuShortcut' Name='OxidizeBot' Description='Oxidize Twitch Bot' Target='[!$(var.BinaryName)]' WorkingDirectory='APPLICATIONFOLDER' />
            <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='Software\OxidizeBot\OxidizeBot' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id='$(var.ProgramFilesFolder)' Name='PFiles'>
        <Directory Id='APPLICATIONFOLDER' Name='OxidizeBot'>
          <Component Id='$(var.BinaryName)' Guid='{DD1E4A01-FF62-4D96-A9CE-A5D7D7548FAD}' Win64='$(var.Win64)'>
            <File Id='$(var.BinaryName)' Name='$(var.BinaryName)' DiskId='1' Source='$(var.BinaryPath)' KeyPath='yes'/>
          </Component>

          <Component Id="RegistryAutostart" Guid="{35977DFA-73B2-4418-A713-C3FA83C6076A}" Win64='$(var.Win64)'>
            <RegistryValue Root="HKCU" Action="write" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="OxidizeBot" Value='"[APPLICATIONFOLDER]$(var.BinaryName)" --silent' Type="string" />
            <Condition>START_VIA_REGISTRY</Condition>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='MainProgram' Title='OxidizeBot' Description='Installs Oxidize Bot.' Level='1' ConfigurableDirectory='APPLICATIONFOLDER' AllowAdvertise='no' Display='expand' Absent='disallow'>
      <ComponentRef Id='$(var.BinaryName)'/>
      <ComponentRef Id='ApplicationShortcut'/>
    </Feature>

    <Feature Id='Autostart' Title='Start with Windows' Description='Starts Oxidize Bot with Windows.' Level='1' AllowAdvertise='no' Display='expand' Absent='allow'>
      <ComponentRef Id='RegistryAutostart' />
    </Feature>

    <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

    <Icon Id='ProductICO' SourceFile='bot\res\icon.ico'/>
    <Property Id='ARPPRODUCTICON' Value='ProductICO' />
    <Property Id='ARPHELPLINK' Value='https://setbac.tv'/>

    <UI>
      <UIRef Id='WixUI_FeatureTree'/>

      <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='2'>1</Publish>

      <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='2'>1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <WixVariable Id='WixUIDialogBmp' Value='bot\res\dialog.bmp'/>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch OxidizeBot" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#$(var.BinaryName)]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>
</Wix>
