[package]
name = "setmod"
version = "0.4.9"
authors = ["John-John Tedro <udoprog@tedro.se>"]
edition = "2018"
license = "MIT/Apache-2.0"
description = "SetMod Twitch Bot"

[dependencies]
chrono = {version = "0.4.6", features = ["serde"]}
chrono-tz = {version = "0.5.1", features = ["serde"]}
clap = "2.33.0"
mysql_async = {git = "https://github.com/blackbeam/mysql_async"}
diesel = { version = "1.4.2", features = ["sqlite", "chrono"] }
diesel_migrations = "1.4.0"
eudex = "0.1.1"
hashbrown = { version = "0.3.0", features = ["serde"] }
hyper = "0.12.29"
warp = "0.1.17"
irc = {version = "0.13", git = "https://github.com/aatxe/irc", branch = "0.14"}
log = "0.4.6"
oauth2 = {version = "2.0.0-alpha.5", git = "https://github.com/udoprog/oauth2-rs", branch = "async"}
ratelimit = "0.4.4"
rayon = "1.0.3"
relative-path = {version = "0.4.0", features = ["serde"]}
reqwest = "0.9.17"
serde = {version = "1.0.91", features = ["rc"]}
serde_json = "1.0.39"
serde_cbor = "0.10.1"
serde_yaml = "0.8.9"
serde_urlencoded = "0.5.5"
toml = "0.5.1"
tokio = "0.1.20"
tokio-threadpool = "0.1.14"
url = {version = "1.7.2", features = ["serde"]}
Inflector = "0.11.4"
rspotify = "0.4.0"
tokio-bus = "0.1.1"
base64 = "0.10.1"
rand = "0.6.5"
fixed-map = "0.6.1"
log4rs = "0.8.3"
handlebars = "1.1.0"
htmlescape = "0.3.1"
lazy_static = "1.3.0"
# set the bundled feature to use the bundled libsqlite3
libsqlite3-sys = {version = "0.12.0", features = ["bundled", "unlock_notify"]}
webbrowser = "0.5.1"
parking_lot = "0.8.0"
err-derive = "0.1.5"
percent-encoding = "1.0.1"
bytes = "0.4.12"
websocket = "0.22.4"
uuid = {version = "0.7.4", features = ["serde", "v4"]}
pin-utils = "0.1.0-alpha.4"
smallvec = {version = "0.6.9", features = ["serde"]}
dirs = "2.0.1"
backoff = "0.1.5"
rust-embed = {version = "4.3.0", optional = true}
mime = "0.3.13"
mime_guess = "2.0.0-alpha.6"
uom = "0.23.1"
ccl = "4.8.1"
rocksdb = {version = "0.12.3", git = "https://github.com/rust-rocksdb/rust-rocksdb.git"}
crossbeam = "0.7.1"
hex = "0.3.2"
graphql_client = "0.8.0"

[dependencies.futures01]
package = "futures"
version = "0.1.25"

[dependencies.futures]
package = "futures-preview"
version = "0.3.0-alpha.16"
features = ["nightly", "async-await", "compat"]
git = "https://github.com/udoprog/futures-rs"
branch = "master"

[dependencies.failure]
version = "0.1.5"

[build-dependencies]
winres = "0.1.9"

[build-dependencies.failure]
version = "0.1.5"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = {version = "0.3.7", features = ["shellapi", "impl-default"]}

[features]
default = ["assets"]
assets = ["rust-embed"]