$margin: 8px;
$example-margin: 12px;

.command-group {
  &-content {
    & > * {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }

  &-name {
    font-size: 160%;
    font-weight: bold;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &-commands {
    font-size: 140%;
    font-weight: bold;
    margin: $margin 0px;
  }

  &-actions {
    margin-bottom: 10px;
  }
}

.command {
  margin: 0px;

  & > * {
    margin-top: $margin;
    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-name {
    font-size: 140%;
    margin-top: 0;
    margin-bottom: $margin;

    & > * {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
}

.example {
  margin-bottom: $margin;

  &-name {
    font-size: 100%;
    margin-top: $example-margin;
    margin-bottom: $example-margin;

    & > * {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  &-content {
    border-left: 4px solid orangered;
    font-size: 80%;
    padding: 8px;
    background-color: #efefef;

    & > * {
      margin: 0;
    }
  }
}