@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~shared-ui/index';

$title-fonts: Consolas, monospace;
$progress-height: 16px;
$album-size: 64px;
$text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;

#index {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.center {
  text-align: center;
}

#overlay {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0px [top] auto [middle] 0px [bottom];
  margin: 0;
  height: 100%;
}

#current-song {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: [left] $album-size 10px [gutter] auto [end];
  align-items: center;

  padding: 10px;
  min-width: 800px;
  max-width: 33%;

  color: white;
  font-family: $title-fonts;
  grid-row-end: top;

  .album {
    grid-column-start: left;
    height: $album-size;
  }

  .info {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto $progress-height;
    grid-column-start: gutter;

    &-track {
      text-shadow: $text-shadow;
      text-overflow: ellipsis;
      font-weight: bold;
      grid-row-start: 1;
      font-size: 1.4em;
      line-height: 0.8em;
      white-space: nowrap;
    }

    &-source {
      float: right;
    }

    &-artist {
      display: grid;
      grid-template-columns: [name] max-content auto [request] max-content;

      text-shadow: $text-shadow;
      grid-row-start: 2;

      &-name {
        grid-column-start: name;
      }
    }

    &-request {
      grid-column-start: request;
      text-shadow: $text-shadow;

      &-by {
        white-space: nowrap;
        font-size: .8em;
        margin-right: 4px;
      }
    }

    &-progress {
      display: grid;
      grid-row-start: 3;
      grid-template-columns: [elapsed] min-content 10px [bar] auto 10px [duration] min-content;

      &-elapsed {
        grid-column-start: elapsed;
        font-size: $progress-height * 0.8;
        line-height: $progress-height;
        text-align: right;
        text-shadow: $text-shadow;
      }

      &-bar {
        padding-top: 5px;
        grid-column-start: bar;

        .progress {
          height: 8px;

          .progress-bar {
            grid-column-start: 2;
            background-color: #888888;
            transition: none;
          }
        }
      }

      &-duration {
        grid-column-start: duration;
        font-size: $progress-height * 0.8;
        line-height: $progress-height;
        text-align: left;
        text-shadow: $text-shadow;
      }
    }
  }

  .state {
    display: none;
    position: absolute;
    height: $album-size;
    width: $album-size;
    line-height: $album-size;
    font-size: 40px;
    text-align: center;
    z-index: 1000;

    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: left 16px top 16px;

    &-paused {
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.title-refresh {
  margin-left: 0.4em;
}

.clickable {
  cursor: pointer;
}

.afterstream {
  &-added-at {
    white-space: nowrap;
    display: block;
    font-size: 0.8em;
  }

  &-datetime {
    margin-left: 0.4em;
  }
}

.right {
  float: right;
}

.content {
  margin-top: 1rem;
}

.settings {
  &-countdown {
    display: inline-block;
    width: 2em;
    text-align: center;
  }

  &-text {
    margin: 0;
    font-size: 70%;
    overflow: hidden;
  }

  &-boolean-icon {
    width: 3em;
  }

  &-filter {
    cursor: pointer;

    &:hover {
      color: purple !important;
    }
  }

  &-group {
    font-weight: bold;
  }

  &-key {
    width: 300px;
    overflow: hidden;

    &-name {
      font-weight: bold;
      white-space: nowrap;
    }

    &-doc {
      white-space: normal;
      font-size: 80%;

      p {
        margin: 0;
      }
    }
  }
}

.auth {
  &-boolean-icon {
    width: 3em;
  }

  &-scope {
    &-short {
      font-size: 120%;
      font-weight: bold;
    }

    &-key {
      width: 300px;
      overflow: hidden;

      &-name {
        font-weight: bold;
        white-space: nowrap;
      }

      &-doc {
        white-space: normal;
        font-size: 80%;

        p {
          margin: 0;
        }
      }
    }
  }

  &-role {
    &-name {
      text-align: center;
    }
  }

  &-group {
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;

    &-filter {
      font-size: 50%;
      margin-left: .5em;
      display: none;
    }

    &:hover {
      color: purple;

      .auth-group-filter {
        display: inline;
      }
    }
  }
}

.command {
  &-name {
    font-family: $title-fonts;
  }

  &-template {
    font-family: $title-fonts;
  }
}

body.youtube-body {
  background-color: black;
  color: white;
}

.youtube {
  &-container {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-loading {
    text-align: center;
    font-size: 200%;
  }

  &-not-loaded {
    &-obs {
      color: white;
      background-color: #333;
    }
  }
}

.table-fill {
  width: 100%;
}

.button-fill {
  width: 100%;
}

.align-center {
  text-align: center;
}

body.chat-body {
  background-color: black;
  color: white;
}

.chat-obs {
  color: white;
  background-color: #333;
  padding: 0.5em;
}

.chat-settings {
  color: black;
}

#chat {
  .edit-button {
    display: table;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0.4em;
    height: 36px;

    a {
      vertical-align: middle;
      display: table-cell;
      opacity: 0.5;

      &:hover {
        cursor: pointer;
        opacity: 1.0;
      }
    }
  }

  .close-button {
    position: absolute;
    right: 0.2em;
    top: 0.1em;
    top: 0;

    a:hover {
      color: #ccc;
      cursor: pointer;
    }
  }

  .chat {
    &-message-deleted {
      text-decoration: line-through;
    }

    &-warning {
      margin: 1em;
    }

    &-messages {
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -ms-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;

      &.hidden {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
    }

    &-no-messages {
      height: 36px;
      line-height: 32px;
      padding: 0 2px;
      font-size: 0.8em;
      background-color: #333;
      text-align: center;
    }

    &-message {
      padding: 2px 0.4em;
      overflow: hidden;

      &:nth-child(even) {
        background-color: #222;
      }

      &:nth-child(odd) {
        background-color: #333;
      }
    }

    &-timestamp {
      line-height: 32px;
      vertical-align: middle;
      margin-right: 0.4em;
    }

    &-badges {
      display: inline-block;
      height: 18px;
      vertical-align: middle;
    }

    &-badge {
      display: inline-block;
      margin-right: 0.2em;
      width: 18px;
      height: 18px;
      vertical-align: top;

      &.rounded {
        border-radius: 20%;
      }

      & > img {
        vertical-align: top;
        width: 18px;
        height: 18px;
      }

      &:last-child {
        margin-right: 0.4em;
      }
    }

    &-name {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.4em;
      font-weight: bold;
    }

    &-text {
      height: 32px;
      word-wrap: break-word;

      span.text {
        line-height: 32px;
        vertical-align: middle;
      }

      a.url {
        color: white;
        line-height: 32px;
        vertical-align: middle;
      }

      img {
        height: 28px;
        vertical-align: middle;
      }
    }
  }
}

.cache {
  &-action {
    cursor: pointer;
  }

  &-namespace-header {
    font-size: 120%;
    font-weight: bold;
  }

  &-expires {
    white-space: nowrap;
  }
}
