@import "custom";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.loading {
  text-align: center;
}

.highlight {
  color: $purple;
}

#index {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

#content {
  background-color: rgb(255, 255, 255);
}

#navbar {
  background-color: rgb(64, 64, 64);
  color: white;
}

#footer {
  border-top: 1px solid $gray-400;
  text-align: center;
  font-size: 80%;
}