{{#> layout title="Oxidize Bot" }}
<div class="container">
  <h1>Oxidize Bot Overview</h1>

  <p>Oxidize is a high performance Twitch Bot written in Rust.</p>
  <p>It is Free Software! You can find its source <a href="{{github_url}}">on Github</a>.</p>

  <h2>Players</h2>

  <table class="table">
  <thead>
    <tr>
      <th>Player Name</th>
    </tr>
  </thead>
  <tbody>
  {{#each players}}
    <tr>
      <td><a href="/player/{{name}}">{{name}}</a></td>
    </tr>
  {{else}}
    <tr>
      <td>No active players right now!</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
<h1></h1>
</div>
{{/layout}}