{{#> layout title="Oxidize Bot Privacy Policy" }}
<div class="container">

<h1>Privacy Policy</h1>

<p>Effective date: June 06, 2019</p>

<p>OxidizeBot ("us", "we", or "our") operates the OxidizeBot desktop application (the "Service").</p>

<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

<p><b>We don't collect any data about our users. The end.</b></p>

<h2>Changes To This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions about this Privacy Policy, please contact us:</p>

<ul>
  <li>By email: udoprog@tedro.se</li>
</ul>

</div>
{{/layout}}