name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: 'nightly'
        type: choice
        options:
        - nightly
        - "%date"
  push:
    tags:
    - '*'

env:
  KICK_VERSION: "${{github.event.inputs.version}} || %{github.tag} || nightly"
  RUST_LOG: kick=trace

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
        - {os: windows-latest, method: msi}
        - {os: ubuntu-latest, method: deb}
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - uses: udoprog/kick@nightly
    - run: kick define --github-action --msi-version-to msi_version
      id: release
    - run: cargo build --release -p oxidize
      env:
        OXIDIZE_VERSION: ${{steps.release.outputs.version}}
        OXIDIZE_FILE_VERSION: ${{steps.release.outputs.msi_version}}
    - run: kick zip --output dist
    - run: kick ${{matrix.method}} --output dist
      if: ${{matrix.method}}
    - uses: actions/upload-artifact@v3
      with:
        name: dist-${{matrix.os}}
        path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: udoprog/github-release@tag
      id: release
    - uses: actions/download-artifact@v3
      with: {name: dist-macos-latest, path: dist}
    - uses: actions/download-artifact@v3
      with: {name: dist-windows-latest, path: dist}
    - uses: actions/download-artifact@v3
      with: {name: dist-ubuntu-latest, path: dist}
    - uses: udoprog/kick@nightly
    - run: kick github-release --upload "dist/*" --github-action
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
